name: SonarQube Analysis

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    runs-on: [self-hosted, TitanStark]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0


      - name: Run SonarScanner
        run: |
          sonar-scanner -D"sonar.projectKey=Titan-Stark" -D"sonar.sources=." -D"sonar.host.url=http://localhost:9000" -D"sonar.token=${{ secrets.SONAR_TOKEN }}"